.body {
  min-height: 552px;
}

.router-main {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  /* border: 1px solid; */
}

#card-member {
  border-radius: 5px;
  min-height: 100px;
}
.table>:not(:last-child)>:last-child>* {
  border-bottom-color: darkgrey;
}
.table th {
  font-weight: 700;
}
