/* General Styles */
.btn {
    padding: 0.75rem 2rem;
}

.btn.btn-with-icon {
    margin: 0 0.2rem;
    padding: 0.5rem;
    width: 40px;
}

/* Navbar */
.navbar-container {
    background-color: #292c47;
}

.navbar {
    border: none !important;
}

.navbar-brand img {
    height: 20px;
}

.navbar-toggler {
    background-color: #dc3545;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #bbb;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

/* Header */
header {
    background-image: url('src/assets/images/st01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 5rem;
}

/* Projects */
.project-container {
    overflow: hidden;
}

.project {
    background-size: cover;
    background-position: center center;
    position: relative;
    min-height: 300px;
    transition: transform 0.4s ease-in-out;
}

.project:hover {
    transform: scale(1.2);
}

.project .overlay {
    align-items: center;
    background-color: #dc3545;
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transition: opacity 0.4s ease-in-out;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project:hover .overlay {
    opacity: 0.9;
}

.pre-footer {
    background-color: #333659;
}

footer {
    background-color: #2b2e4a;
}

footer .text-muted,
.pre-footer .text-muted {
    color: #bbb !important;
}

footer p,
.pre-footer p {
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

.container {
    width: 1200px;
    height: auto;
    margin: 50px auto;
}

.detail {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.detail-content {
    width: 45%;
}
        
.detail-content .a-title {
    display: flex;
    color: #046c00;
    border-bottom: 5px solid #e74c3c;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}
.detail-content-grid {
    display: grid;
    grid-template-rows: repeat(5, 150px);
    grid-gap: 10px;
    overflow: hidden;
    max-height: 775px;
}
.detail-content-items {
    display: flex;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s ease;
    text-decoration: none;
}
.detail-content-items:hover .content-detail {
    background: #fafafa;
}
.detail-content-items:hover .content-detail .head-detail {
    color: #e74c3c;
}
.border-img {
    height: 100%;
    width: 40%;
}
.border-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.content-detail {
    width: 60%;
    padding: 0 20px;
    transition: .3s ease;
}
.content-detail .head-detail {
    max-height: 55px;
    overflow: hidden;
    transition: .3s ease;
    margin-bottom: 5px;
    color: #333;
}
.content-detail .body-detail {
    color: #afafaf;
    max-height: 90px;
    overflow: hidden;
    font-size: .7rem;
}




@media screen and (max-width: 1000px) {
    .container { width: 300px; }
    .detail { flex-direction: column; }
    .detail-content { width: 100%; }
    .detail-content:first-child { margin-bottom: 100px; }
}


h1, h2, h3, h4, h5, h6 {
    color: #2c3145;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section_all {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 100vh;
}
.section-title {
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.section-subtitle {
    letter-spacing: 0.4px;
    line-height: 28px;
    max-width: 550px;
}

.section-title-border {
    background-color: #000;
    height: 1 3px;
    width: 44px;
}

.section-title-border-white {
    background-color: #fff;
    height: 2px;
    width: 100px;
}
.text_custom {
    color: #00bd2a;
}

.about_icon i {
    font-size: 22px;
    height: 65px;
    width: 65px;
    line-height: 65px;
    display: inline-block;
    background: #fff;
    border-radius: 35px;
    color: #00bd2a;
    box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);
}

.about_header_main .about_heading {
    max-width: 450px;
    font-size: 24px;
}

.about_icon span {
    position: relative;
    top: -10px;
}

.about_content_box_all {
    padding: 28px;
}


/* body{padding:20px;} */

