<!-- <header class="container-fluid">
	<div class="row">
		<div class="container py-5 text-white">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 class="display-4 text-uppercase font-weight-bold">สื่อการเรียนการสอนคอมพิวเตอร์</h1>
					<p class="lead">แหล่งการเรียนรู้ออนไลน์ ระดับมัธยมศึกษาปีที่ 1 - ระดับมัธยมศึกษาปีที่ 6</p>


                     <br>
                     <br>
				</div>
			</div>
		</div>
	</div>
</header> -->


  <div class="card-body" style="width: 97%; margin: 0px auto;">
    <div id="carouselExampleDark" class="carousel carousel-dark slide top-2 carousel carousel-slider center"
      data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>

      </div>

      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
          <img src="assets/images/st03.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="4000">
          <img src="assets/images/st04.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>




      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>



    <!-- row2 แผนก -->
    <div class="row m-0 text-white"
      style="padding-left: 100px;padding-right: 100px;padding-top: 10px;padding-bottom: 10px; background-color: #fefeff">
      <div class="col-md-12 text-dark" >
        <!-- <p class="pb-0 mb-0 font-monospace fw-bold" style="font-size: 28px;color: #214d90;">บริการทางการแพทย์</p> -->
        <div class="">
          <div class="row p-0">
            <div class="col-12">
              <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="5000">
                    <div class="row m-0 p-0 justify-content-center">
                      <div class="col-md-auto p-0">
                        <div class="card border-0" style="background-color: #fefeff;">

                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- row3 ข้อมูลโรงพยาบาล -->
    <div class="row m-0 text-black"
      style="padding-left: 100px;padding-right: 100px;padding-top: 50px;padding-bottom: 50px; background-color: #ffffff">
      <div class="col-md-7 m-0" style="padding-top: 35px;padding-right: 10px;">
        <h2 class="p-0 pt-4 m-0">
          <dt class="font-monospace pb-4 pt-4 m-0">สื่อการเรียนการสอน คืออะไร?</dt>
        </h2>
        <div class="col-md-12" style="padding-right: 47px;padding-top: 10px;">
          <p class="font-monospace" style="font-size: 19px;">สื่อการเรียนการสอน เป็น ตัวกลางหรือช่องทางในการถ่ายทอดองค์ความรู้ ทักษะ ประสบการณ์ จากแหล่ง ความรู้ไปสู่ผู้เรียน และทําให้เกิดการเรียนรู้อย่างมีประสิทธิภาพ ในทางการศึกษา มีคําที่มีความหมายแนวเดียวกันกับสื่อการเรียนการสอน เช่น สื่อการสอน (Instructional Media or Teaching Media), สื่อการศึกษา (Educational Media), อุปกรณ์ ช่วยสอน (Teaching Aids) เป็นต้น </p>
        </div>
      </div>

      <div class="col-md-5 m-0 text-center" style="padding: 20px;">
        <img src="https://krusurang.files.wordpress.com/2021/08/3720522.jpg"
          class="border border-3 border-white" style="width: 470px;" height="
            ">
      </div>
    </div>

    <!-- row4 กิจกรรม -->
    <div class="row m-0 text-white"
      style="padding-left: 100px;padding-right: 100px;padding-top: 30px;padding-bottom: 30px; background-color: #214d90">
      <div class="col-md-12 text-dark m-0" style="color: #fafaff;">
        <p class="font-monospace fw-bold text-white text-center" style="font-size: 28px;">ข่าวการศึกษา</p>
        <div class="" style="">
          <div class="">
            <div class="row p-0">
              <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                  <div class="row justify-content-between text-right p-0 m-0">
                    <div class="col-md-1 p-0 pb-1 text-start">
                      <a class="" href="#carouselExampleIndicators2" role="button" data-slide="prev"
                        data-bs-target="#carouselExampleIndicators2">
                        <i class="bi bi-caret-left-square" style="font-size: 30px;color: rgb(255, 255, 255);"></i>
                      </a>
                    </div>
                    <div class="col-md-1 p-0 pb-1 text-end">
                      <a class="" href="#carouselExampleIndicators2" role="button" data-slide="next"
                        data-bs-target="#carouselExampleIndicators2">
                        <i class="bi bi-caret-right-square" style="font-size: 30px;color: rgb(255, 255, 255);"></i>
                      </a>
                    </div>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                      <div class="row">
                        <div class="col-md-4 mb-3">
                          <div class="card shadow-sm" style="border-radius: 10px; padding: 3px;">
                            <img class="img-fluid" style="border-radius: 7px;" alt="100%x280"
                              src="https://static.thairath.co.th/media/dFQROr7oWzulq5Fa5BwEk255h9QT75QmBHgYprYa6XuiMfAQCXXBwNeOxZreAsAa3Ng.webp">
                            <div class="card-body p-1" >
                              <h6 class="card-title" >ย้ำ อ.ก.ค.ศ.เขตพื้นที่การศึกษา ทำงานยึดโปร่งใส
                            </h6>
                            <p>เมื่อวันที่ 15 ก.พ. น.ส.ตรีนุช เทียนทอง รมว.ศึกษาธิการ เปิดเผยภายหลังการมอบนโยบายการดำเนินงานของ.... <a href="https://www.thairath.co.th/news/local/2631100">อ่านเพิ่มเติม</a></p>
                              <!-- <p class="card-text">เปิดบริการในทุกด้านที่มีความสัมพันธ์กับโควิด-19</p> -->
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 mb-3">
                          <div class="card shadow-sm" style="border-radius: 10px; padding: 3px;">
                            <img class="img-fluid" style="border-radius: 7px;" alt="100%x280"
                              src="https://static.thairath.co.th/media/dFQROr7oWzulq5Fa5B2y9x2b0gH66mh3wagV8laoEbaRQkSEhgubqIxmerImVuRqBE5.webp">
                            <div class="card-body p-3">
                              <h6 class="card-title">ถกสถาบันผลิตปั้นจรรยาบรรณครู</h6>
                              <p class="card-text">ผศ.ดร.อมลวรรณ วีระธรรมโม เลขาธิการคุรุสภา เปิดเผยว่า ตนได้หารือร่วมกับสภาคณบดีคณะศึกษาศาสตร์.... <a href="https://www.thairath.co.th/news/local/2622185">อ่านเพิ่มเติม</a> </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 mb-3">
                          <div class="card shadow-sm" style="border-radius: 10px; padding: 3px;">
                            <img class="img-fluid" style="border-radius: 7px;" alt="100%x280"
                              src="https://static.thairath.co.th/media/dFQROr7oWzulq5Fa5B2nj4ui0GrclfTm3YqUkPKiBB5FwoEyzmZFtq9mwqQ6sXGiRhA.webp">
                            <div class="card-body p-3">
                              <h6 class="card-title">กมว.เคลียร์คดีครูถูกร้องจรรยาบรรณ เร่งสาง 800 คดีที่เหลือให้เสร็จใน 1 ปี</h6>
                              <p class="card-text"> รศ.ดร.ศิริเดช สุชีวะ คณบดีคณะครุศาสตร์ จุฬาลงกรณมหาวิทยาลัย....<a href="https://www.thairath.co.th/news/local/2628305">อ่านเพิ่มเติม</a></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                      <div class="row">



                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




<section class="section_all bg-light" id="about">
    <div class="container">


<body>

    <div class="container">
        <div class="detail">
            <!-- left card -->
            <div class="detail-content">
                <a  class="a-title">อยากเก่งต้องฝึกฝน </a>
                <div class="detail-content-grid">

                    <a class="detail-content-items" >
                        <div class="border-img">
                            <img src="https://static.trueplookpanya.com/cmsblog/3766/55766/banner_file.jpg">
                        </div>
                        <div class="content-detail">
                            <h5 class="head-detail">
                                1.สำรวจตัวเองเป็นประจำ
                            </h5>
                            <p class="body-detail">
                                หาเวลาเว้นว่างจากสื่อโซเชียลสัก 1-2 ชั่วโมงมาสำรวจตัวเองสักครั้งในหนึ่งสัปดาห์ ลองถามตัวเองดูว่าขณะนี้คุณมีความสุขกับชีวิตหรือไม่ ได้ทำสิ่งที่ตั้งเป้าหมายไว้จนสำเร็จครบถ้วนทุกประการหรือยัง
                            </p>
                        </div>
                    </a>
                    <a class="detail-content-items" >
                        <div class="border-img">
                            <img src="https://www.yuvabadhanafoundation.org/wp-content/uploads/2021/09/%E0%B9%80%E0%B8%A3%E0%B8%B2%E0%B8%AD%E0%B8%A2%E0%B8%B2%E0%B8%81%E0%B8%97%E0%B8%B3%E0%B8%AD%E0%B8%B0%E0%B9%84%E0%B8%A3%E0%B8%95%E0%B9%88%E0%B8%AD%E0%B9%84%E0%B8%9B%E0%B9%83%E0%B8%99%E0%B8%8A%E0%B8%B5%E0%B8%A7%E0%B8%B4%E0%B8%95-01-01.png">
                        </div>
                        <div class="content-detail">
                            <h5 class="head-detail">
                                2.ตั้งโจทย์ให้ชีวิต
                            </h5>
                            <p class="body-detail">
                                หลังจากที่คุณสำรวจตัวเอง และค้นพบแล้วว่าคุณควรทำอย่างไรกับสิ่งต่างๆ ในชีวิต สิ่งที่คุณควรทำเป็นลำดับถัดไปคือการตั้งโจทย์ให้ชีวิต พูดให้เข้าใจง่ายๆ ก็คือ ตั้งเป้าหมายใหม่ๆ ให้กับชีวิตนั่นแหละ
                            </p>
                        </div>
                    </a>
                    <a class="detail-content-items" >
                        <div class="border-img">
                            <img src="https://goodlifeupdate.com/app/uploads/2018/10/1200x627-%E0%B9%80%E0%B8%9B%E0%B8%B4%E0%B8%94%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B8%AA%E0%B8%B4%E0%B9%88%E0%B8%87%E0%B9%83%E0%B8%AB%E0%B8%A1%E0%B9%88.jpeg">
                        </div>
                        <div class="content-detail">
                            <h5 class="head-detail">
                                3.ทดลองทำสิ่งใหม่ๆ
                            </h5>
                            <p class="body-detail">
                                เมื่อตั้งโจทย์ให้ชีวิตเป็นที่เรียบร้อยแล้ว ต่อมา คุณควรลุกขึ้นมาทดลองทำสิ่งใหม่ๆ ดูเสีย เพราะถ้าคุณไม่ลงมือทำอะไรสักอย่าง โจทย์ที่คุณตั้งไว้ก็ไม่มีทางที่จะสำเร็จได้ใช่ไหมล่ะ? ทางเดียวที่คุณจะประสบความสำเร็จได้คือการทดลองทำสิ่งใหม่ๆ เพื่อให้คุณบรรลุเป้าหมายของตัวเอง
                            </p>
                        </div>
                    </a>
                    <a class="detail-content-items" >
                        <div class="border-img">
                            <img src="https://www.ananda.co.th/blog/thegenc/wp-content/uploads/2020/09/AW-5.jpg">
                        </div>
                        <div class="content-detail">
                            <h5 class="head-detail">
                                4.ให้รางวัลตัวเองอยู่เสมอ
                            </h5>
                            <p class="body-detail">
                                ไม่ว่าใครก็ต้องการกำลังใจในการพัฒนาตนเองต่อไปทั้งนั้น แม้แต่ตัวคุณเองก็เช่นกัน ทุกๆ ครั้งที่คุณทำกระบวนการข้อ 1-2-3 สำเร็จ ขอให้คุณให้รางวัลตัวเองตามสมควร
                            </p>
                        </div>
                    </a>


                </div>
            </div>



            <!-- right card -->
            <div class="detail-content">
                <a href="#" class="a-title"> เคล็ดลับพัฒนาตนเอง</a>
                <div class="detail-content-grid">

                    <a class="detail-content-items" >
                        <div class="border-img">
                            <img src="https://www.wikihow.com/images_en/thumb/f/fc/Deal-With-Negative-People-Step-17-Version-2.jpg/v4-1200px-Deal-With-Negative-People-Step-17-Version-2.jpg">
                        </div>
                        <div class="content-detail">
                            <h5 class="head-detail">
                                1. เอาชนะความคิดด้านลบในตัวคุณ
                            </h5>
                            <p class="body-detail">
                                ทุกคนล้วนมีความคิดเป็นของตนเอง ความคิดนั้นมีทั้งด้านดีและด้านลบขึ้นอยู่กับสถานการณ์ หากคุณสามารถรู้ทันความคิดด้านลบของคุณแล้วสามารถแปรเปลี่ยนเป็นความคิดดีๆ สิ่งที่ดีๆก็จะเกิดขึ้นกับคุณเสมอ
                            </p>
                        </div>
                    </a>
                    <a class="detail-content-items" >
                        <div class="border-img">
                            <img src="https://missiontothemoon.co/wp-content/uploads/2021/04/%E0%B9%80%E0%B8%AD%E0%B8%B2%E0%B8%8A%E0%B8%99%E0%B8%B0-%E0%B8%84%E0%B8%A7%E0%B8%B2%E0%B8%A1%E0%B8%81%E0%B8%A5%E0%B8%B1%E0%B8%A7-%E0%B8%94%E0%B9%89%E0%B8%A7%E0%B8%A2%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%AA%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%87-%E0%B8%84%E0%B8%A7%E0%B8%B2%E0%B8%A1%E0%B8%81%E0%B8%A5%E0%B9%89%E0%B8%B2695x345.jpg">
                        </div>
                        <div class="content-detail">
                            <h5 class="head-detail">
                                2. เอาชนะความกลัวอย่างกล้าหาญ
                            </h5>
                            <p class="body-detail">
                                ในโลกใบนี้คงไม่มีใครที่ไม่เคยกลัวอะไรเลย ความกลัวไม่ใช่เรื่องที่เลวร้ายมากขนาดนั้น ความกลัวช่วยให้เรารอดพ้นจากสิ่งชั่วร้ายได้ด้วยการหลีกหนี แต่หากคุณกลัวทุกอย่างคุณก็จะหลีกหนีทุกสิ่งทุกอย่าง
                            </p>
                        </div>
                    </a>
                    <a class="detail-content-items" >
                        <div class="border-img">
                            <img src="https://www.okmd.or.th/upload/iblock/897/understand_850x446.png">
                        </div>
                        <div class="content-detail">
                            <h5 class="head-detail">
                               3.มองโลกให้กว้างและตั้งเป้าหมายให้ชัดเจน
                            </h5>
                            <p class="body-detail">
                                โลกเปลี่ยนไปเราก็จะต้องพัฒนาตามให้ทัน อย่าให้ใครมาจำกัดความคิดของเราอยู่แต่ในกะลาแคบๆ ไม่มีอะไรที่เป็นไม่ได้หากเรามีความตั้งใจและพยายามจงเชื่อมั่นว่าคุณสามารถทำอะไรก็ตามให้เกิดขึ้นได้
                            </p>
                        </div>
                    </a>
                    <a class="detail-content-items" >
                        <div class="border-img">
                            <img src="https://www.wikihow.com/images_en/thumb/4/42/Stop-Comparing-Yourself-to-Others-Step-3-Version-3.jpg/v4-460px-Stop-Comparing-Yourself-to-Others-Step-3-Version-3.jpg.webp">
                        </div>
                        <div class="content-detail">
                            <h5 class="head-detail">
                                4. อย่าเสียเวลากับการเปรียบเทียบตนเองกับคนอื่น
                            </h5>
                            <p class="body-detail">
                                การเสียเวลาไปกับการเปรียบเทียบตนเองกับคนอื่นเป็นเรื่องที่คนประสบความสำเร็จไม่ทำกัน เพราะมันไม่ได้มีประโยชน์ที่จะทำให้เกิดการพัฒนาตนเอง เนื่องจากคุณจะไม่สามารถรู้ได้เลยคนเหล่านี้สร้างภาพอะไรมาหลอกคุณ
                            </p>
                        </div>
                    </a>


                </div>
            </div>
        </div>
    </div>
