<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- ============= homePage ============= -->
<div *ngIf="!isLogin">
  <!-- navber -->
  <header class="navbar navbar-expand-lg" id="up" style="background-color: #7952b3;">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="home/login">เข้าสู่ระบบ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ลงทะเบียน</a>
        </li>
      </ul>


    </div>
  </header>
  <nav class="navbar navbar-expand-lg sticky-top text-center" id="up" style="background-color: #757377;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="home">หน้าแรก <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">บรรยกาศร้าน</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">เมนู</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">เกี่ยวกับเรา</a>
        </li>
      </ul>


    </div>
  </nav>
  

  <!-- content -->
  <div role="main">
    <router-outlet></router-outlet>
  </div>

  <!-- footer -->
  <footer style="background: #e8e4e4;">
    <div class="font-monospace text-center my-auto copyright"
      style="padding: 0;padding-top: 13px;height: 49.8px;background: #214d90;;width: 100%;">
      <span class="" style="font-family:  serif; font-size: 14px;padding-top: 4px;">Development © 2021
      </span>
    </div>
  </footer>
</div>


<!-- ============= Menu-actor ============= -->
<div>
  <ng-template ngxPermissionsOnly="ADMIN">
    <!-- navber -->
    <header class="navbar navbar-expand-lg" id="up" style="background-color: #7952b3;">
      <a class="navbar-brand" href="admin/home">LOGO-ADMIN</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;">{{userCust}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logOut()" style="cursor: pointer;">Logout</a>
          </li>
        </ul>
      </div>
    </header>
    <nav class="navbar navbar-expand-lg sticky-top text-center" id="up" style="background-color: #fe7700d4;">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="home">หน้าแรก <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin/table">จัดการข้อมูลโต๊ะ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin/manage">จัดการข้อมูลอาหาร</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="admin/customer">จัดการข้อมูลลูกค้า</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin/booking">ข้อมูลจอง</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin/report">รายงานยอดขาย</a>
          </li>
        </ul>
        
      


      </div>
    </nav>

    <!-- content -->
    <div role="main">
      <router-outlet></router-outlet>
    </div>

    <!-- footer -->
    <footer style="background: #e8e4e4;">
      <div class="font-monospace text-center my-auto copyright"
        style="padding: 0;padding-top: 13px;height: 49.8px;background: #214d90;;width: 100%;">
        <span class="" style="font-family:  serif; font-size: 14px;padding-top: 4px;">Development © 2021
        </span>
      </div>
    </footer>
  </ng-template>

  <ng-template ngxPermissionsOnly="CUSTOMER">
    <!-- navber -->
    <header class="navbar navbar-expand-lg" id="up" style="background-color: #7952b3;">
      <a class="navbar-brand" href="customer/home">LOGO-CUSTOMER</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;">{{userCust}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logOut()" style="cursor: pointer;">Logout</a>
          </li>
        </ul>
      </div>
    </header>
    <nav class="navbar navbar-expand-lg sticky-top text-center" id="up" style="background-color: #757377;">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="home">หน้าแรก <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">บรรยกาศร้าน</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">เมนู</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">เกี่ยวกับเรา</a>
          </li>
        </ul>


      </div>
    </nav>

    <!-- content -->
    <div role="main">
      <router-outlet></router-outlet>
    </div>

    <!-- footer -->
    <footer style="background: #e8e4e4;">
      <div class="font-monospace text-center my-auto copyright"
        style="padding: 0;padding-top: 13px;height: 49.8px;background: #214d90;;width: 100%;">
        <span class="" style="font-family:  serif; font-size: 14px;padding-top: 4px;">Development © 2021
        </span>
      </div>
    </footer>
  </ng-template>
</div>