<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">




</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      <!-- Uncomment below if you prefer to use text as a logo -->
      <!-- <h1 class="logo"><a href="index.html">Butterfly</a></h1> -->



    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h3>สพฐ. ร่อนหนังสือถึงโรงเรียนทั่วประเทศ เลิกเรียนวันเว้นวัน เปิดเรียนตามปกติเริ่ม 13 ส.ค.นี้</h3>
          <h2 >สำนักงานคณะกรรมการการศึกษาขั้นพื้นฐาน ร่อนหนังสือ แจ้ง ร.ร.ทั่วประเทศ เปิดเรียนครบ100% 13 ส.ค.นี้ ตามมาตรฐานควบคุมโรค เมื่อวันที่ 11 ส.ค. นายอำนาจ วิชยานุวัติ เลขาธิการคณะกรรมการการศึกษาขั้นพื้นฐาน (กพฐ.) เปิดเผยว่า เมื่อเร็ว ๆ นี้ สำนักงานคณะกรรมการการศึกษา.</h2>
          <div><a href="https://www.khaosod.co.th/breaking-news/news_4689397" class="btn-get-started scrollto">อ่านเพิ่มเติม</a></div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="https://www.hongpakkroo.com/post-img/20200811090600-rgrg.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch position-relative">
            <a href="https://youtu.be/drUYIOhXjnY" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>'ตรีนุช' ยกเลิกระเบียบ ศธ.ว่าด้วยการไว้ทรงผมของนักเรียน ให้แต่ละ รร.จัดการเอง ตามแต่เห็นสมควร</h3>
            <p> (24 ม.ค. 66) นางสาวตรีนุช เทียนทอง รัฐมนตรีว่าการกระทรวงศึกษาธิการ เปิดเผยว่า ตามที่มีเสียงเรียกร้องให้มีการแก้ไขปรับปรุงระเบียบกระทรวงศึกษาธิการ ว่าด้วยการไว้ทรงผมของนักเรียน พ.ศ.2563 มาอย่างต่อเนื่อง ที่สำคัญคือการลงโทษเรื่องทรงผม ซึ่งได้ส่งผลถึงร่างกายและจิตใจของนักเรียน

                ศธ.จึงได้มีหนังสือหารือไปยังสำนักงานคณะกรรมการกฤษฎีกา กรณีแนวปฏิบัติเกี่ยวกับการไว้ทรงผมของนักเรียน ซึ่งคณะกรรมการกฤษฎีกา (คณะที่ 8) ได้ให้ความเห็นว่า รมว.ศธ.ในฐานะผู้บังคับบัญชาสูงสุดอาจอาศัยอำนาจตามมาตรา 12 ประกอบกับมาตรา 39 (1) แห่ง พ.ร.บ.ระเบียบบริหารราชการกระทรวงศึกษาธิการ พ.ศ.2546 กำหนดเป็นนโยบายให้หน่วยงานในสังกัดนำไปปฏิบัติได้

                ดังนั้น เมื่อวันที่ 16 ม.ค. 2566 ที่ผ่านมา ตนจึงได้ลงนามในระเบียบ ศธ.ว่าด้วยการยกเลิกระเบียบ ศธ. ว่าด้วยการไว้ทรงผมของนักเรียน พ.ศ.2563 และเสนอสำนักงานเลขาธิการคณะรัฐมนตรี เพื่อประกาศในราชกิจจานุเบกษา แล้วออกเป็นหนังสือสั่งการหรือหนังสือเวียน

                กำหนดแนวปฏิบัติเกี่ยวกับการไว้ทรงผมของนักเรียนหรือนักศึกษาไว้อย่างกว้างๆ เพื่อให้หน่วยงานในสังกัดที่เป็นผู้กำกับดูแลสถานศึกษา กำหนดให้สถานศึกษาแต่ละแห่ง นำหลักเกณฑ์ในเรื่องดังกล่าว ไปกำหนดเป็นระเบียบ หรือข้อบังคับของสถานศึกษาแต่ละแห่งเอง</p>



          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="text-center title">
          <h3>ข่าวสารสถาบันการศึกษา</h3>
          <p>รวมข่าว "สถาบันการศึกษา" เกาะติดข่าวของ"สถาบันการศึกษา" ข่าวด่วนของ "สถาบันการศึกษา" ที่คุณสนใน คิดตามเรื่อง"สถาบันการศึกษา"</p>
        </div>



      </div>
    </section><!-- End Counts Section -->






    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container position-relative">



      </div>
    </section><!-- End Testimonials Section -->

    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title">
          <h2>ข่าวล่าสุดปี 2566</h2>
          <p></p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://www.komchadluek.net/news/531241" class="galleery-lightbox" data-gallery="gallery-item">
                <img src="https://media.komchadluek.net/uploads/images/md/2022/09/bG86PWkYjpRKDWOEC2Pf.webp?x-image-process=style/LG-webp" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://www.komchadluek.net/kom-lifestyle/495423" class="galleery-lightbox" data-gallery="gallery-item">
                <img src="https://media.komchadluek.net/uploads/images/md/2021/12/IojywPiQpcnobGAtEIQO.webp?x-image-process=style/LG-webp" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://www.komchadluek.net/hot-social/523781" class="galleery-lightbox" data-gallery="gallery-item">
                <img src="https://media.komchadluek.net/uploads/images/md/2022/07/plVcWVXpWPPXkvwIse7z.webp?x-image-process=style/LG-webp" alt="" class="img-fluid " >
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://news.trueid.net/detail/ndoDD8La0ox2" class="galleery-lightbox" data-gallery="gallery-item">
                <img src="https://media.komchadluek.net/media/img/size1/2019/11/08/5jk9bdahae6fgbdckie8k.jpg?x-image-process=style/LG-webp" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="" class="galleery-lightbox" data-gallery="gallery-item">
                <img src="https://cms.dmpcdn.com/news/2021/09/28/69a57cc0-2023-11ec-8129-afed0d387b2c_original.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://news.trueid.net/detail/Vpbm8K2xBbR6" class="galleery-lightbox" data-gallery="gallery-item">
                <img src="https://cms.dmpcdn.com/news/2023/02/18/868eafb0-af3c-11ed-ad30-7b5069ad2afa_original.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://news.trueid.net/detail/g2Kpp1Zg3Jda" class="galleery-lightbox" data-gallery="gallery-item">
                <img src="https://cms.dmpcdn.com/news/2021/10/01/a1778bb0-22a4-11ec-ad4f-a5683bf9f7e1_original.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://news.trueid.net/detail/jmN1qp3yyoQL" class="galleery-lightbox" data-gallery="gallery-item">
                <img src="https://cms.dmpcdn.com/news/2022/04/22/a30dfa30-c205-11ec-b1c6-15ec565f7121_original.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->


</body>

</html>
